In [1]:
## Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
## Importing the OS and JSON Modules
import os,json

In [2]:
import os
os.makedirs('Data/',exist_ok=True) 
os.listdir("Data/")

['superhero_info - superhero_info.csv',
 'superhero_powers - superhero_powers.csv']

In [3]:
superhero_info = pd.read_csv('Data/superhero_info - superhero_info.csv')
superhero_info.head()

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}"
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}"

In [4]:
superhero_powers = pd.read_csv('Data/superhero_powers - superhero_powers.csv')
superhero_powers.head()

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

In [5]:
superhero_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hero|Publisher  463 non-null    object
 1   Gender          463 non-null    object
 2   Race            463 non-null    object
 3   Alignment       463 non-null    object
 4   Hair color      463 non-null    object
 5   Eye color       463 non-null    object
 6   Skin color      463 non-null    object
 7   Measurements    463 non-null    object
dtypes: object(8)
memory usage: 29.1+ KB

In [6]:
superhero_powers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   hero_names  667 non-null    object
 1   Powers      667 non-null    object
dtypes: object(2)
memory usage: 10.5+ KB

In [7]:
Hero_col =superhero_info['Hero|Publisher'].value_counts()
Hero_col

Spider-Man|Marvel Comics       3
Black Canary|DC Comics         2
Nova|Marvel Comics             2
Toxin|Marvel Comics            2
Batman|DC Comics               2
                              ..
Fabian Cortez|Marvel Comics    1
Exodus|Marvel Comics           1
Evilhawk|Marvel Comics         1
Evil Deadpool|Marvel Comics    1
Zoom|DC Comics                 1
Name: Hero|Publisher, Length: 457, dtype: int64

In [8]:
test_hero = superhero_info.loc[1,'Hero|Publisher']
test_hero

'Abe Sapien|Dark Horse Comics'

In [9]:
superhero_info[['Hero', 'Publisher']] = superhero_info['Hero|Publisher'].str.split(pat='|', n=1, expand=True)

In [10]:
superhero_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hero|Publisher  463 non-null    object
 1   Gender          463 non-null    object
 2   Race            463 non-null    object
 3   Alignment       463 non-null    object
 4   Hair color      463 non-null    object
 5   Eye color       463 non-null    object
 6   Skin color      463 non-null    object
 7   Measurements    463 non-null    object
 8   Hero            463 non-null    object
 9   Publisher       463 non-null    object
dtypes: object(10)
memory usage: 36.3+ KB

In [11]:
superhero_info['Hero'].value_counts()

Spider-Man        3
Black Canary      2
Nova              2
Captain Marvel    2
Toxin             2
                 ..
Feral             1
Falcon            1
Fabian Cortez     1
Exodus            1
Zoom              1
Name: Hero, Length: 455, dtype: int64

In [12]:
superhero_info['Publisher'].value_counts()

Marvel Comics        297
DC Comics            138
Dark Horse Comics     11
George Lucas           5
Team Epic TV           4
Shueisha               4
Star Trek              2
Unknown                1
Image Comics           1
Name: Publisher, dtype: int64

In [13]:
superhero_info.drop(columns=['Hero|Publisher'], inplace=True)

In [14]:
superhero_info['Measurements'].value_counts().value_counts()

1    204
2     42
4     14
3     12
6      8
5      7
Name: Measurements, dtype: int64

In [15]:
test_measure = superhero_info.loc[1,'Measurements']
test_measure

"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"

In [16]:
type(test_measure)

str

In [17]:
test_measure = test_measure.replace("'", '"')
test_measure

'{"Height": "191.0 cm", "Weight": "65.0 kg"}'

In [18]:
json.loads(test_measure)

{'Height': '191.0 cm', 'Weight': '65.0 kg'}

In [19]:
type(json.loads(test_measure))

dict

In [20]:
superhero_info['Measurements'] = superhero_info['Measurements'].str.replace("'", '"')
superhero_info['Measurements'] = superhero_info['Measurements'].apply(json.loads)

In [21]:
superhero_info['Measurements'].apply(pd.Series)

       Height    Weight
0    203.0 cm  441.0 kg
1    191.0 cm   65.0 kg
2    185.0 cm   90.0 kg
3    203.0 cm  441.0 kg
4    193.0 cm  122.0 kg
..        ...       ...
458  183.0 cm   83.0 kg
459  165.0 cm   52.0 kg
460   66.0 cm   17.0 kg
461  170.0 cm   57.0 kg
462  185.0 cm   81.0 kg

[463 rows x 2 columns]

In [22]:
superhero_info = pd.concat([superhero_info, superhero_info['Measurements'].apply(pd.Series)], axis = 1)

superhero_info.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher,Height,Weight
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics,203.0 cm,441.0 kg
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics,191.0 cm,65.0 kg

In [23]:
superhero_info.drop(columns=['Measurements'], inplace=True)
superhero_info.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publisher,Height,Weight
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,203.0 cm,441.0 kg
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,191.0 cm,65.0 kg

In [24]:
superhero_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Gender      463 non-null    object
 1   Race        463 non-null    object
 2   Alignment   463 non-null    object
 3   Hair color  463 non-null    object
 4   Eye color   463 non-null    object
 5   Skin color  463 non-null    object
 6   Hero        463 non-null    object
 7   Publisher   463 non-null    object
 8   Height      463 non-null    object
 9   Weight      463 non-null    object
dtypes: object(10)
memory usage: 36.3+ KB

In [25]:
superhero_info['Height'] = superhero_info['Height'].str.replace(' cm', '').astype(float)

superhero_info['Weight'] = superhero_info['Weight'].str.replace(' kg', '').astype(float)

In [26]:
superhero_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Gender      463 non-null    object
 1   Race        463 non-null    object
 2   Alignment   463 non-null    object
 3   Hair color  463 non-null    object
 4   Eye color   463 non-null    object
 5   Skin color  463 non-null    object
 6   Hero        463 non-null    object
 7   Publisher   463 non-null    object
 8   Height      463 non-null    float64
 9   Weight      463 non-null    float64
dtypes: float64(2), object(8)
memory usage: 36.3+ KB

In [27]:
superhero_powers.head()

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

In [28]:
superhero_powers['Powers'].value_counts()

Intelligence                                                                                                                                                                                                                                                         8
Durability,Super Strength                                                                                                                                                                                                                                            5
Agility,Stealth,Marksmanship,Weapons Master,Stamina                                                                                                                                                                                                                  4
Marksmanship                                                                                                                                                                                                                                                         4
Teleportation                                                                                                                                                                                                                                                        4
                                                                                                                                                                                                                                                                    ..
Accelerated Healing,Flight,Telepathy,Energy Blasts,Teleportation,Telekinesis,Astral Projection,Psionic Powers,Mind Blast,Regeneration,Illusions,Resurrection                                                                                                         1
Flight,Telepathy,Animal Oriented Powers,Gliding                                                                                                                                                                                                                      1
Accelerated Healing,Durability,Energy Absorption,Flight,Super Strength,Telepathy,Energy Blasts,Size Changing,Super Speed,Darkforce Manipulation,Enhanced Senses,Phasing,Invulnerability,Self-Sustenance,Gravity Control,Energy Manipulation,Time Travel,Illusions    1
Agility,Accelerated Healing,Super Strength,Super Speed,Animal Oriented Powers,Enhanced Senses,Jump,Reflexes,Natural Weapons                                                                                                                                          1
Super Speed,Intangibility,Time Travel,Time Manipulation                                                                                                                                                                                                              1
Name: Powers, Length: 608, dtype: int64

In [29]:
test_powers = superhero_powers.loc[31, 'Powers']
test_powers

'Accelerated Healing,Durability,Danger Sense,Super Strength,Stamina,Enhanced Senses,Shapeshifting,Camouflage,Reflexes,Elasticity,Toxin and Disease Resistance,Wallcrawling,Web Creation,Symbiote Costume'

In [30]:
type(test_powers)

str

In [31]:
saved_test = test_powers.replace("'",'"')
saved_test

'Accelerated Healing,Durability,Danger Sense,Super Strength,Stamina,Enhanced Senses,Shapeshifting,Camouflage,Reflexes,Elasticity,Toxin and Disease Resistance,Wallcrawling,Web Creation,Symbiote Costume'

In [38]:
json_array = json.dumps(saved_test.split(','))
json_array

'["Accelerated Healing", "Durability", "Danger Sense", "Super Strength", "Stamina", "Enhanced Senses", "Shapeshifting", "Camouflage", "Reflexes", "Elasticity", "Toxin and Disease Resistance", "Wallcrawling", "Web Creation", "Symbiote Costume"]'

In [37]:
# Applying transformations to entire column
# Create a new column where the single quotes are replaced with double quotes
superhero_powers['Powers_split'] = superhero_powers['Powers_split'].str.replace("'", '"')
# Apply json.loads to entire column
superhero_powers['Powers_split'] = superhero_powers['Powers_split'].apply(json.loads)
superhero_powers['Powers_split'].head()

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [ ]:
superhero_powers['Powers_split'].value_counts()

In [ ]:
# Converting transactions column into a one-hot-encoded column
exploded = superhero_powers.explode('Powers_split')
exploded[['hero_names', 'Powers', 'Powers_split']].head()

In [ ]:
cols_to_make = exploded['Powers_split'].dropna().unique()
cols_to_make

In [ ]:
superhero_powers.drop(columns=['Powers_split'], inplace=True)

In [ ]:
# Using a for loop with .str.contains to create new columns
for col in cols_to_make:
    superhero_powers[col] = superhero_powers['Powers'].str.contains(col)
superhero_powers.head()

In [ ]:
import pandas as pd

combined_df = pd.concat([superhero_info, superhero_powers], ignore_index=True)import pandas as pd

1. Compare the average weight of super powers who have Super Speed to those who do not.

2. What is the average height of heroes for each publisher?